<a href="https://colab.research.google.com/github/nosovdmitry008/DZ2/blob/master/DZ2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1

Вывести на экран циклом пять строк из нулей длиной 4, причем каждая строка должна быть пронумерована.

Пример:

    0 0000
    1 0000
    2 0000
    3 0000
....
'''

In [2]:
k='0000'

for z in range(5):

  print(z, k)

0 0000
1 0000
2 0000
3 0000
4 0000

Задача 2

Пользователь в цикле вводит 10 производных цифр. Выведите количество введеных пользователем цифр 5.
'''

In [22]:
e=0
for z in range(10):
  k=input('Введите цифры: ')
  if int(k) == 5:
    e+=1
print('Введено количество 5: ', e)

Введите цифры: 4
Введите цифры: 6
Введите цифры: 5
Введите цифры: 4
Введите цифры: 6
Введите цифры: 5
Введите цифры: 7
Введите цифры: 5
Введите цифры: 4
Введите цифры: 6
Введено количество 5:  3


Задача 3

Вывести сумму ряда чисел от 1 до 100. Полученный результат вывести на экран.

In [24]:
z=0
for i in range(1,101):
  z+=i
print(z)

5050


Задача 4

Найти произведение ряда чисел от 1 до 10. Полученный результат вывести на экран(можно поискать в интернете алгоритм факториала в python).
'''

In [27]:
z=1
for i in range(1,11):
  z=z*i
print(z)

3628800

In [29]:
import math
n=10
print("Факториал числа ",n," это: ",math.factorial(n))

Факториал числа  10  это:  3628800


'''
(!!!Подсказка на следующую задачу - превратите число в строку, а потом работайте с строкой)

Задача 5

Вывести цифры числа на каждой новой строке.

Пример:
     123567

     1
     2
     3
     4
     5
     6
     7

'''

In [36]:
z=1234567
k=str(z)
for i in range(len(k)):
  print(k[i])

1
2
3
4
5
6
7

Задача 6

Найти сумму цифр числа.
```
    Пример:
    254314
    Сумма цифр числа - 19(2+5+4+3+1+4)

In [38]:
z=254314
k=str(z)
o=0
for i in range(len(k)):
  o+=int(k[i])
print(o)

19



Задача 7

Найти произведение цифр числа.
```
    Пример:
    254314
    Произведение цифр числа - 480(2*5*4*3*1*4)

In [39]:
z=254314
k=str(z)
o=1
for i in range(len(k)):
  o=o*int(k[i])
print(o)

480


Задача 8

Пользователь должен ввести число. Ваш код должен дать ответ на вопрос: есть ли среди цифр числа 5?

Если есть, код должен вывексти "Цифра 5 есть в числе", в противном случае вывести: "Цифры 5 нет в числе".

In [42]:
k=input('Введите число: ')
e=0
for z in range(len(k)):
  if int(k[z]) == 5:
    e+=1
if e >1:
  print('Цифра 5 есть в числе')
else:
  print('Цифры 5 нет в числе')

Введите число: 56564556576
Цифра 5 есть в числе

Задача 9

Найти максимальную цифру в числе
```
Пример:
    354359688
    'Цифра - 9 максимальная в числе 354359688'

In [45]:
k=input('Введите число: ')
e=0
for z in range(len(k)):
  if int(k[z]) > int(e):
    e=k[z]
print('Цифра - ', str(e), ' максимальная в числе ', k)

Введите число: 148432367543
Цифра -  8  максимальная в числе  148432367543

Задача 10

Найти количество цифр 5 в числе

```

    Пример:
        543231235643
        'В числе 2 5-ки.

In [46]:
k=input('Введите число: ')
e=0
for z in range(len(k)):
  if int(k[z]) == 5:
    e+=1
print('В числе  ', e, '5-ки.')

Введите число: 234567654566567
В числе   4 5-ки.